<%= link_to 'Back', root_path %>

<div class="container-md">
  <div class="row">

    <h1><%= @cocktail.name %></h1>
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag(@cocktail.photo.key, width: 200) %>
    <% end %>

  </div>

  <div class="row">
    <%= link_to 'Edit cocktail', edit_cocktail_path %>
  </div>

  <% @cocktail.doses.each do |dose| %>

    <div class="row">

      <div class="col">
        <p><%= dose.ingredient.name %></p>
      </div>

      <div class="col">
        <p><%= dose.description %></p>
      </div>

      <div class="col">

        <%= link_to dose_path(dose),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </div>

    </div>
  <% end %>

  <%= link_to 'Add ingredient', new_cocktail_dose_path(@cocktail) %>
</div>